*{
    padding: 0;
    margin: 0;
}

body{
    width: 1000px;
    height: 100%;
    background-color: #DEDED9;
}

#secao, #container{    
    width: 1000px;
    height: auto;
    left: 50%;
    margin-top: 0px;
    margin-left: -500px;
    float: left;    
    position: absolute;
}

#cabecalho{
    width: 1000px;
    height: 200px;
    margin-top: 0px;
    margin-left: 0px;
    float: left;   
}

#logo{
    width: 150px;
    height: 200px;
    margin-top: 10px;
    margin-left: 0px;
    float: left;
}

#img-logo{
    width: 170px;
    height: 170px;
    margin-top: 0px;
    margin-left: 0px;
}

#menu-principal{
    width: 820px;
    height: 54px;
    margin-top: 0px;
    margin-right: 0px;
    float: right;
    line-height: 34pt;
    font-family: century gothic;  
    font-weight: bold;    
    background-color: #00989E;
}

.home{
    width: 820px;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
    float: left;
    font-family: century gothic;
    color: #fff;    
    list-style: none;
}

.home li{
    position: relative;
    float: left;
}

.home li a{
    color: #fff; 
    text-decoration: none;  
    display: block;
    padding: 4.5px 6px;
    margin-left: 20px;
    display: block;    
    font-size: 16px;
}

.home li a:hover{
    background: #333;
    color: #fff;    
}

.home li ul{
    position: absolute;
    background-color: #00989E;
    display: none;
    padding: 0px 0px;
    line-height: 18pt;    
    margin-left: 20px;
} 

.home li:hover ul, .menu li.over ul{
    display: block; 
    width: 150px;
}

.home li ul li{
    display: block;
    width: 150px;
}

.submenu-home li a{
    margin-left: 0px;    
}

#menu-ps{
    width: 820px;
    height: 54px;
    margin-top: 0px;
    margin-right: 0px;
    float: right;
    line-height: 34pt;
    font-family: century gothic;  
    font-weight: bold;    
    background-color: #9C1006;
}

.ps{
    width: 820px;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
    float: left;
    font-family: century gothic;
    color: #fff;    
    list-style: none;
}

.ps li{
    position: relative;
    float: left;
}

.ps li a{
    color: #fff; 
    text-decoration: none;  
    display: block;
    padding: 4.5px 6px;
    margin-left: 16px;
    display: block;    
    font-size: 16px;
}

.ps li a:hover{
    background: #333;
    color: #fff;    
}

.ps li ul{
    position: absolute;
    background-color: #9C1006;
    display: none;
    padding: 0px 0px;
    line-height: 18pt;    
    margin-left: 16px;
} 

.ps li:hover ul, .menu li.over ul{
    display: block; 
    width: 150px;
}

.ps li ul li{
    display: block;
    width: 150px;
}

.submenu-ps li a{
    margin-left: 0px;    
}

#menu-nintendo{
    width: 820px;
    height: 54px;
    margin-top: 0px;
    margin-right: 0px;
    float: right;
    line-height: 34pt;
    font-family: century gothic;  
    font-weight: bold;    
    background-color: #009FE3;
}

.nintendo{
    width: 820px;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
    float: left;
    font-family: century gothic;
    color: #fff;    
    list-style: none;
}

.nintendo li{
    position: relative;
    float: left;
}

.nintendo li a{
    color: #fff; 
    text-decoration: none;  
    display: block;
    padding: 4.5px 6px;
    margin-left: 16px;
    display: block;    
    font-size: 16px;
}

.nintendo li a:hover{
    background: #333;
    color: #fff;    
}

.nintendo li ul{
    position: absolute;
    background-color: #009FE3;
    display: none;
    padding: 0px 0px;
    line-height: 18pt;    
    margin-left: 16px;
} 

.nintendo li:hover ul, .menu li.over ul{
    display: block; 
    width: 150px;
}

.nintendo li ul li{
    display: block;
    width: 150px;
}

.submenu-nintendo li a{
    margin-left: 0px;    
}

#menu-xbox{
    width: 820px;
    height: 54px;
    margin-top: 0px;
    margin-right: 0px;
    float: right;
    line-height: 34pt;
    font-family: century gothic;  
    font-weight: bold;    
    background-color: #8EA50D;
}

.xbox{
    width: 820px;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
    float: left;
    font-family: century gothic;
    color: #fff;    
    list-style: none;
}

.xbox li{
    position: relative;
    float: left;
}

.xbox li a{
    color: #fff; 
    text-decoration: none;  
    display: block;
    padding: 4.5px 6px;
    margin-left: 16px;
    display: block;    
    font-size: 16px;
}

.xbox li a:hover{
    background: #333;
    color: #fff;    
}

.xbox li ul{
    position: absolute;
    background-color: #8EA50D;
    display: none;
    padding: 0px 0px;
    line-height: 18pt;    
    margin-left: 16px;
} 

.xbox li:hover ul, .menu li.over ul{
    display: block; 
    width: 150px;
}

.xbox li ul li{
    display: block;
    width: 150px;
}

.submenu-xbox li a{
    margin-left: 0px;    
}

#menu-outros{
    width: 820px;
    height: 54px;
    margin-top: 0px;
    margin-right: 0px;
    float: right;
    line-height: 34pt;
    font-family: century gothic;  
    font-weight: bold;    
    background-color: #6D6A65;
}

.outros{
    width: 820px;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
    float: left;
    font-family: century gothic;
    color: #fff;    
    list-style: none;
}

.outros li{
    position: relative;
    float: left;
}

.outros li a{
    color: #fff; 
    text-decoration: none;  
    display: block;
    padding: 4.5px 6px;
    margin-left: 16px;
    display: block;    
    font-size: 16px;
}

.outros li a:hover{
    background: #333;
    color: #fff;    
}

.outros li ul{
    position: absolute;
    background-color: #6D6A65;
    display: none;
    padding: 0px 0px;
    line-height: 18pt;    
    margin-left: 16px;
} 

.outros li:hover ul, .menu li.over ul{
    display: block; 
    width: 150px;
}

.outros li ul li{
    display: block;
    width: 150px;
}

.submenu-outros li a{
    margin-left: 0px;    
}

#menu-pc{
    width: 820px;
    height: 54px;
    margin-top: 0px;
    margin-right: 0px;
    float: right;
    line-height: 34pt;
    font-family: century gothic;  
    font-weight: bold;    
    background-color: #F39200;
}

.pc{
    width: 820px;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
    float: left;
    font-family: century gothic;
    color: #fff;    
    list-style: none;
}

.pc li{
    position: relative;
    float: left;
}

.pc li a{
    color: #fff; 
    text-decoration: none;  
    display: block;
    padding: 4.5px 6px;
    margin-left: 16px;
    display: block;    
    font-size: 16px;
}

.pc li a:hover{
    background: #333;
    color: #fff;    
}

.pc li ul{
    position: absolute;
    background-color: #F39200;
    display: none;
    padding: 0px 0px;
    line-height: 18pt;    
    margin-left: 16px;
} 

.pc li:hover ul, .menu li.over ul{
    display: block; 
    width: 150px;
}

.pc li ul li{
    display: block;
    width: 150px;
}

.submenu-pc li a{
    margin-left: 0px;    
}

#redes-sociais{
    width: 150px;
    height: 30px;
    margin-top: 15px;
    margin-left: 0px;
    float: left;
    display:none;
}

.redes-sociais{
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-left: 15px;
    float: left;
}

#propaganda1{
    width: 820px;
    height: 130px;
    margin-top: 15px;
    margin-right: 0px;
    float: right;
    background-color: #fff;
}

#busca{
    width: 300px;
    height: 30px;
    margin-top: 50px;
    margin-right: 0px;
    float: right;
    border: solid 5px #333;
}

#lupa{
    width: 35px;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
    float: left;
}

#caixa-busca{
    width: 265px;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
    float: left;
    border: none;
    color: #fff;
    font-family: century gothic;
    text-align: center;    
    background-color: #fff;
    color: #333;
}

#conteudo{
    width: 1000px;
    height: auto;
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 50px;
    float: left;
    background-color: #fff;
}

#slideshow{
    width: 730px;
    height: 400px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    float: left;
    border: solid 10px #333;
}

#galeria{
    width: 730px;
    height: 400px;
    margin-top: 0px;
    margin-left: 0px;
    float: left;
    display: block;
    overflow: hidden;    
}

#galeria ul{
    margin-left: 0px;
    margin-top: 0px;
    float:left;
    list-style: none;
    display: table;
    position: relative;
}

#galeria ul li{
    width: 750px;
    height: 400px;
    display: inline-block;
    position: relative;
}

#galeria ul li span{
    width: 755px;
    height: 50px;
    display: table;
    background-color: #333;
    position: absolute;
    bottom: 0;
    margin-left: 0px;
    margin-bottom: 0px;
    font-family: century gothic;
    font-size: 12pt;
    color: #fff;
}

#galeria ul li span p{
    margin-left: 10px;
}


.img-galeria{
    width: 100%;
    height: 100%;
}

#buttons{
    width: 104px;
    display: none;
    position: absolute;
    margin-top: 5px;
    margin-left: 315px;
    z-index: 500;
}

#buttons a{
    width: 50px;
    height: 40px;
    background-color: #00989E;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font: 22pt Arial;
    color: #333;
    text-decoration: none;
}

#buttons a:hover{
    color: #fff;    
}

#coluna-lateral{
    width: 220px;
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;    
    text-align: center;
}

.top{
    width: 200px;
    height: 344px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    float: left;
    background-color: #fff;
    border: solid 10px #333;
    font-family: century gothic;
    line-height: 22pt;
    
}

.top h1{
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: century gothic;
    font-size: 12pt;
    background-color: #333;
    color: #fff;
}

.top a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.top a:hover{
    text-decoration: underline;
    font-weight: bold;
}

#propaganda2{
    width: 200px;
    height: 542px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    float: left;
    background-color: #fff;
    border: solid 10px #333;
    font-family: century gothic;
    line-height: 22pt;
}

#propaganda2 h1{
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: century gothic;
    font-size: 12pt;
    background-color: #333;
    color: #fff;
}


#materias{
    width: 770px;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    float: left;  
    text-align: center;
    background-color: #fff;
}

#materias2{
    width: 730px;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    float: left;  
    text-align: center;
    background-color: #fff;
}

#materias2 h1{
    font-family: century gothic;
    color: #fff;
    background-color: #333;
    font-size: 18pt;
    text-align: center;
    font-weight: bold;
    padding: 10px 4px;
}

#materias2 a:hover{
    opacity: 0.7;
}


#secao2{
    width: 730px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    float: left; 
    background-color: #fff;
    border: solid 10px #333; 
}

#secao2 h1{
    font-family: century gothic;
    color: #fff;
    background-color: #333;
    font-size: 18pt;
    text-align: center;
    font-weight: bold;
    padding: 10px 4px;
}

#secao2 p{
    font-family: calibri;
    color: #000;
    font-size: 12pt;
    text-align: left;
    line-height: 16pt;
    margin-left: 20px;
    margin-right: 20px;
}

#secao2 p a{
    color: #333;
    text-decoration: none;
}

#secao2 p a:hover{
    color: #333;
    text-decoration: underline;
}

#colunista{
    width: 730px;
    height: 200px;
    float:left;
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: lightgray;
    border: solid 10px #333;
}

#img-colunista{
    width: 150px;
    height: 150px;
    float: left;
    margin-top: 25px;
    margin-left: 30px;
    background-color: #fff;
}

#img-colunista a:hover img{
    opacity: 0.9;
}

#criador-materia{
    width: 490px;
    height: 150px;
    float: left;
    margin-top: 25px;
    margin-left: 30px;
    background-color: #fff;    
}

.informacao-materia{
    width: 730px;
    height: 40px;
    display: table;
    background-color: #333;
    position: absolute;    
    margin-left: 0px;
    margin-top: 140px;    
}

.materias{
    width: 730px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    float: left;
    background-color: #fff;  
    border: solid 10px #333;
    font-family: century gothic;
    font-size: 11pt;
    line-height: 20pt;
    font-style: italic;
    font-weight: bold;
    color: #fff;
}

#materias a:hover{
    opacity: 0.7;
}

.ultima-materia{
    width: 730px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
    background-color: #fff;  
    border: solid 10px #333;
    font-family: century gothic;
    font-size: 11pt;
    line-height: 20pt;
    font-style: italic;
    font-weight: bold;
    color: #fff;
}

#login{
    width: 730px;
    height: 500px;
    margin-top: 0px;
    margin-left: 0px;
    float: left; 
    background-color: white;
    border: solid 10px #333;
}

#login h1{
    font-family: century gothic;
    color: #fff;
    background-color: #333;
    font-size: 18pt;
    text-align: center;
    font-weight: bold;
    padding: 10px 4px;
}

#login p{
    font-family: calibri;
    color: #000;
    font-size: 12pt;
    text-align: left;
    line-height: 16pt;
    margin-left: 20px;
    margin-right: 20px;
}

#rodape{
    width: 981px;
    height: 250px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    float: left;
    background-color: #8e8e8e; 
    text-align: center;
    color: #005890;
    font-family: century gothic;
    font-size: 12pt;   
    border: solid 10px #333;
}

#rodape h1{
    font-family: century gothic;
    font-size: 12pt;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #333;
    line-height: 15pt;
}

.links-rodape{
    width: 130px;
    height: 236px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    color: #fff;
    line-height: 17pt;    
    border: solid 2px #333;
}

#propaganda3{
    width: 245px;
    height: 240px;
    margin-top: 5px;
    margin-left: 15px;
    float: left;
    color: #fff;
}

#logo-empresa{
    width: 150px;
    height: 240px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    color: #fff;
}

#img-logo-empresa{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 0px;
    margin-top: -40px;
}

#cadastro{
    width: 980px;
    height: 500px;
    margin-top: 0px;
    margin-left: 0px;
    float: left;    
    background-color: #fff;
    border: solid 10px #333;
}
#cadastro a:hover{
    text-decoration: underline;
}

#cadastro h1{
    height: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: century gothic;
    font-size: 15pt;
    background-color: #333;
    color: #fff;
    text-align: center;
}

#colunas{
    width: 740px;
    height: 1090px;
    margin-top: 50px;
    margin-left: 20px;
    float: left;
    background-color: lightgray;       
}

.colunas{
    width: 712px;
    height: 150px;
    margin-top: 25px;
    margin-left: 15px;
    float: left;
    background-color: #fff;      
}

#rodape a{
    text-decoration: none;
    color: #fff;
    font-family: century gothic;
    font-size: 10pt;
    line-height: 10pt;    
    font-style: italic;
}

#rodape a:hover{
    text-decoration: underline;
}

.txts{
   margin-right:100px;
   float:right;
}
.txtsmateria{
   margin-right:300px;
   float:right;
}

.stringmateria{
    margin-left:50px;
    float:left;
}
.vars{
    margin-left:50px;
    line-height: 21pt;
    color: #333;
}
#frmAlterarDados{
    width:390px;
    margin-left:400px;
    line-height:20pt;
    float:left;
    height:170px;
}
.txtsAlterarDados{
    float:right;
}
#buttonAlterar{
    margin-left:130px;
    margin-top:15px;
}
#quadro{
    width:220px;
    margin-left:400px;
    line-height:20pt;
    float:left;
    height:175px;
}

.janela-login{
    display:none;
    width:300px;
    height:300px;
    position:absolute;
    left:0;
    top:0;
    background:#fff;
    z-index:9900;
    padding:10px;
    border: solid 10px #333;
}
 
#mascara{
    display:none;
    position:relative;
    left:0;
    top:0;
    z-index:9000;
    background-color: #333;
}
 
.fechar{
    display:block; 
    text-align:right;
}

.txts{
   margin-right:100px;
   float:right;
   height:16px;
}
.txtsmateria{
   margin-right:300px;
   float:right;
}

.stringmateria{
    margin-left:50px;
    float:left;
}
#captchaPalavra{
    margin-top:5px;
    width:80px;
    height:20px;

}
#atualizarCaptcha{
    float:left;
    margin-left:55px;
    cursor: pointer;
}
#captcha2{
    float:left;
    width:180px;
    height:50px;
}
#btnCad{
    margin-left:85px;
}
#captcha{
    margin-left:50px;
}
.btnCads{
    margin-left:20px;
        margin-top:20px;
}
.vars{
    margin-left:50px;
    line-height: 21pt;
    color: #333;
}
#frmAlterarDados{
    width:390px;
    margin-left:400px;
    line-height:20pt;
    float:left;
    height:170px;
}
.txtsAlterarDados{
    float:right;
}
#buttonAlterar{
    margin-left:130px;
    margin-top:15px;
}
#quadro{
    width:220px;
    margin-left:400px;
    line-height:20pt;
    float:left;
    height:175px;
}